/* .products-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */
/*
.product-wrapper {
  width: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.product-wrapper img {
  margin-bottom: 10px;
}

.product-title {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}

.product-price {
  display: inline-block;
  font-size: 15px;
}

.pr */